.dashboard {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    background-color: #f4f4f4;
    
  }
  
  .stats-cards {
    display: grid;
    grid-template-columns: repeat(2, 2fr); 
    gap: 20px; 
    flex-wrap: wrap;
    margin: 20px;
  
  }
  
  .card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 300px;
  }
  
  .card-icon {
    font-size: 36px;
    color: #9046cf;
  }
  
  .card-title {
    margin: 0;
    font-weight: 600;
    color: #555;
  }
  
  .card h3 {
    margin: 5px 0 0;
    font-size: 24px;
    color: #333;
  }
  
  @media (max-width: 480px) {
    .dashboard{
      align-items: center;
      justify-content: center;
      
    }
    .stats-cards {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 100%;
        height: 100vh;
  
  }
    .card {
    width: 200px;
  }

}