/* Default sidebar styling */
.sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  padding: 20px 15px;
  top: 0;
  left: 0;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 300px;
  z-index: 1000;
  transition: all 0.42s ease;
}

/* Closed state */
.sidebar.closed {
  width: 100px;
  padding: 20px 10px;
}

.sidebar.closed .sidebar-logo .logo-text,
.sidebar.closed .sidebar-menu span {
  display: none;
}

.sidebar.closed .sidebar-menu {
  align-items: center;
}

.sidebar.closed .sidebar-menu i {
  margin-right: 0;
  font-size: 30px;
}

/* Top section */
.sidebar .sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Logo */
.sidebar-logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #9046cf;
  margin-bottom: 30px;
}

.sidebar-logo i {
  font-size: 35px;
  margin-right: 10px;
}

/* Menu */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 20px;
}

.sidebar-menu a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
  transition: all 0.3s ease;
}

.sidebar-menu a i {
  font-size: 22px;
  margin-right: 12px;
  color: #9046cf;
}

.sidebar-menu a:hover {
  color: #9046cf;
}

/* Menu button */
.menu-btn1,
.menu-btn2 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: start;
}

.menu-btn1 button{
  background: none;
  border: none;
}
.menu-btn1 i{
  color: #9046cf;
  font-size: 26px;
  margin-right: 10px;
}
.menu-btn1 span{
  color: #333;
  font-size: 20px;
  font-weight: 500;
}
.menu-btn2 button{
  background: none;
  border: none;
}
.menu-btn2{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: start;
}
.menu-btn2 i{
  color: #9046cf;
  font-size: 26px;
  margin-right: 10px;
}


/* Responsive styles for screens ≤ 768px */
@media (max-width: 480px) {
    .sidebar.closed{
        z-index: 0;
        flex-direction: row;
        width: 100%;
        height: 30px;
        gap: 200px;
        align-items: center;
        justify-content: center;
      }
      .sidebar.closed .sidebar-menu{
        display: none;

      }
      .sidebar.closed .sidebar-logo{
          margin-top: 30px;
      }
      .sidebar.closed .sidebar-logo .logo-text{
        display: block;
      }
      .menu-btn2{
        margin-bottom: 10px;
      }

        
   
}